/*****************************************************************************/
/* Markdown                                                                  */ 
/*****************************************************************************/
div.markdown textarea, div.markdown div.preview {
  padding: 10px 1px 5px 10px;
}

div.markdown div.preview {
  background: #fff;
  border: 1px solid #d7d7d7;
}

ul.markdown_toolbar {
  position:relative;
  list-style:none;
  border:1px solid #d7d7d7;
  background-color:#F6F6F6;
  margin:0;
  padding:0;
  height:18px;
  margin-bottom:2px;
}

ul.markdown_toolbar li {
  list-style:none;
  margin:0;
  padding:0;
  float:left;
}

ul.markdown_toolbar li a {
  width:24px;
  height:16px;
  line-height:16px;
  float:left;
  display:block;
  background-image:url("markdown_icons.png");
  border:1px solid #fff;
  border-right-color:#d7d7d7;
  cursor: pointer;
}

ul.markdown_toolbar li a:hover { border-color:#900 !important; border-right-color: #900 !important; border-left-color: #900 !important;  }
ul.markdown_toolbar li span { display:none; }
ul.markdown_toolbar li a.markdown_help_button {
  position:absolute;
  top:0;
  right: 26px;
  border-right-color: #fff;
  border-left-color:#d7d7d7;
}

ul.markdown_toolbar li a.markdown_italics_button { background-position: 0 -119px; }
ul.markdown_toolbar li a.markdown_bold_button { background-position: 0 -102px; }
ul.markdown_toolbar li a.markdown_link_button { background-position: 0 0; }
ul.markdown_toolbar li a.markdown_image_button { background-position: 0 -170px; }
ul.markdown_toolbar li a.markdown_unordered_list_button { background-position: 0 -34px; }
ul.markdown_toolbar li a.markdown_ordered_list_button { background-position: 0 -51px; }
ul.markdown_toolbar li a.markdown_quote_button { background-position: 0 -68px; }
ul.markdown_toolbar li a.markdown_code_button { background-position: 0 -136px; }
ul.markdown_toolbar li a.markdown_help_button { background-position: 0 -153px; }
ul.markdown_toolbar li a.markdown_heading_button { background-position: 0 -85px; }
ul.markdown_toolbar li a.markdown_fileupload_button { background-position: 0 -187px; }
ul.markdown_toolbar li a.markdown_html_button {
  background-position: 0 40px;
  position: absolute;
  right: 0px;
  top: 0;
  border-left-color:#d7d7d7;
  border-right-color:#fff;
}

ul.markdown_toolbar li a.markdown_close_button {
  right:0px;
  background-position: 0 23px;
}
